<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>936297582156-noj4amsanse2ufntt8g0262rgbqclou7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.936297582156-noj4amsanse2ufntt8g0262rgbqclou7</string>
	<key>API_KEY</key>
	<string>AIzaSyAB3Xv9BWGdxN_0ltJ9YqQuUCEojXRTAYg</string>
	<key>GCM_SENDER_ID</key>
	<string>936297582156</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lojavirtual.lrs.com.br.lojaVirtual</string>
	<key>PROJECT_ID</key>
	<string>lojavirtual-e9947</string>
	<key>STORAGE_BUCKET</key>
	<string>lojavirtual-e9947.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:936297582156:ios:b2928efe159980a2</string>
	<key>DATABASE_URL</key>
	<string>https://lojavirtual-e9947.firebaseio.com</string>
</dict>
</plist>